.c000{
    color:#000;
}
.cfff{
    color:#FFF;
}
.cred{
    color:#FF4242;
}
.cblue{
    color:#6D7EF0;
}
.diamonds_list{
    width:calc(100% - 15px);
}
.diamond{
    background-size:cover;
    border:1px solid #E2E2E2;
    width:calc(33% - 17px);
    min-height:100px;
    background:url('/xitenggame/xitengWapApp/src/images/buy-diamonds_img@2x.png') no-repeat center;
    -webkit-background-size:cover;
}
.diamond_bg{
    border:1px solid #E2E2E2;
    width:calc(33% - 17px);
    min-height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_diamonds{
    outline: none;
    flex: 1;
    background:url('/xitenggame/xitengWapApp/src/images/buy-diamonds_img_n@2x.png') no-repeat center;
    background-size:cover;
    -webkit-background-size:cover;
}
.diamond_count{
    padding-top:70px;
}
.price{
    line-height: 40px;
    height:40px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.tag{
    padding:1px 2px;
    background:#FF4242;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.buy_btn{
    margin:0 auto ;
    width:75px;
    padding:1px 6px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    border:1px solid #FF4242;
}
.buy_diamonds_btn{
    margin:30px 15px;
    border-radius: 3px;
    background:#0A89FE;
    line-height:44px;
    height:44px;
}
.diamonds_selected{
    border:1px solid #FF4242;
}