body{
    padding: 0 0.24rem;
}

.BonusShow{
    margin: 0.24rem 0.24rem;
    line-height: 0.36rem;
}

.BonusShow p{
    font-size: 0.26rem;
}

.fYellow{
    color: #ffba26;
}
.fRed{
    color: red;
}
.fFf{
    color: #fff;
}















