/**
 * Created by LDQ on 2016/10/17.
 */
.f5f5f5{
    background:#F5F5F5;
}
.fff{
    background:#FFF;
}
.cred{
    color:#FF4242;
}
.cart_shop_name{
    position:fixed;
    top:0;
    height:44px;
    line-height: 44px;
    background:#FFF;
}
.cart_shop_name_icon{
    background:url("/xitenggame/xitengWapApp/src/icon_mall@2x.png") no-repeat 10px center;
    -webkit-background-size: 20px;
    background-size:20px;
    padding:3px 0 3px 15px;
}
.cart_shop_edit{
    width:60px;
}
.cart_product{
    height:95px;
    display:flex;
    flex-direction: row;
    border-top:1px solid #E2E2E2;
}
.cart_product_pic{
    width:73px;
    height:73px;
    border:1px solid #E2E2E2;
    overflow: hidden;
}
.cart_product_check{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart_product_info{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.red_XT_icon{
    background:url("/xitenggame/xitengWapApp/src/images/icon_maddle_red@2x.png") no-repeat left center;
    -webkit-background-size:15px;
    background-size:15px;
}
.cart_ctrl{
    width:85px;
    height:20px;
    right:15px;
    bottom:15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border:1px solid #E2E2E2;
}
.cart_ctrl_reduce,
.cart_ctrl_increase{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
}
.cart_ctrl_num{
    display:flex;
    flex:2;
    flex-direction: row;
    justify-content: center;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
}
.cart_footer{
    position:fixed;
    bottom:0;
    height:47px;
    line-height:47px;
    background:#FFF;
}
.cart_delete_all{
    width:125px;
    background:#FF4242;
}
.cart_payment_btn{
    width:125px;
    background:#FFBA26;
}
.cart_body{
    padding-bottom:47px;
    min-height:calc(100% - 47px);
}
.cart_edit{
    height:44px;
    margin:40px 15px;
    border-radius: 3px;
    background:#0A89FE;
    line-height:44px;
}